/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@import url('https://cdn.jsdelivr.net/npm/@docsearch/css@3');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

strong {
  font-weight: bold;
  background: linear-gradient(transparent 70%, yellow 30%);
}

html[data-theme="dark"] strong{
  background: linear-gradient(transparent 90%, yellow 10%);
}

code, pre{
  font-family: "Source Code Pro", "Noto Sans JP", sans-serif;
  font-weight: 600;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

